@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500);

/*Global*/
body, html {
  padding-top: 3%;
  padding-left: 3%;
  padding-right: 3%;
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  background-color: #212121;
}

a:link, a:visited, a:active, a:hover{
  text-decoration: none;
}

/*Classes*/

.homeIconBtn {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: #03A9F4;
}

.homeIcon {
  padding-top: 8px;
  font-size: 35px;
  color: #212121;
}


.catagory-card {
  height: 330px;
  width: 330px;
  background-color: #03A9F4;
}

.cardTitle {
  font-size: 35px;
  font-weight: 400;
  text-align: center;
  padding-top: 130px;
  font-weight: bold;
  width: 100%;
  height: 100%;
  color: #212121
}

.cpywrt {
  padding-top: 30px;
  color: #03A9F4;
}

.workspace {
  width: 100%;
  height: 500px;
  background-color: white;
}

/*IDs*/
#homepageTitle {
  color: #03A9F4;
  margin-bottom: 115px;
}

#homepageTitle-workspace {
  color: #03A9F4;
  margin-bottom: 40px;
}

/*Screen Resolutions*/

@media screen and (max-width: 736px) {
  .catagory-card {
    width: 240px;
  }
}

/*When screen is at extra small*/
@media screen and (max-width: 767px) {
  body, html {
    padding-left: 0;
    padding-right: 0;
  }

  .catagory-card {
    height: 200px;
    margin-bottom: 25px;
  }

  .cardTitle {
    padding-top: 75px;
    font-size: 23px;
  }

  #homepageTitle {
    margin-bottom: 25px;
    font-size: 32px;
  }
}

/*When screen is at small*/
@media screen and (min-width: 768px) {

  .catagory-card {
    height: 205px;
    width: 205px;
    margin-bottom: 25px;
  }

  .cardTitle {
    padding-top: 80px;
    font-size: 21px;
  }

  #homepageTitle {
    font-size: 40px;
    margin-bottom: 100px;
  }
}

/*When screen is at medium*/
@media screen and (min-width: 992px) {
  .catagory-card {
    height: 270px;
    width: 270px;
  }

  .cardTitle {
    padding-top: 100px;
    font-size: 30px;
  }

  #homepageTitle {
    font-size: 50px;
  }
}

/*When screen is at large*/
@media screen and (min-width: 1200px) {
  .catagory-card {
    height: 330px;
    width: 330px;
  }

  .cardTitle {
    padding-top: 120px;
    font-size: 38px;
  }

  #homepageTitle {
    font-size: 55px;
  }
}
